body,
html {
  width: 100%;	
  height: auto;	
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-nav{
	display: inline-flex;
	list-style: none;
	font-size: 0.8em;
}

li{
	padding:10px;
}

h1{
  font-size: 3rem;
  color: #e2dbdb;
}

hr{
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

.buffer{
  height: 10rem;
}

.buffer1{
  height: 14rem;
}

.copyright{
  color:white;
  font-weight: 10;
  font-size: 0.7em;
}

.about{
  color:black;
}
